@model IEnumerable<SWAPI.App.Models.SwapiViewModel>

@{
    ViewBag.Title = "Início";
}

<br/><br />
<h2>Consulta</h2>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            Ação
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @switch (item.type)
                {
                    case "films":
                        <a href="@Url.Action("Index", "Films", new { id = item.Id })" target="_blank"><i class="fa fa-search"></i></a>
                        break;

                    case "people":
                        <a href="@Url.Action("Index", "People", new { id = item.Id })" target="_blank"><i class="fa fa-search"></i></a>
                        break;

                    case "planets":
                        <a href="@Url.Action("Index", "Planets", new { id = item.Id })" target="_blank"><i class="fa fa-search"></i></a>
                        break;

                    case "species":
                        <a href="@Url.Action("Index", "Species", new { id = item.Id })" target="_blank"><i class="fa fa-search"></i></a>
                        break;

                    case "starships":
                        <a href="@Url.Action("Index", "StarsHips", new { id = item.Id })" target="_blank"><i class="fa fa-search"></i></a>
                        break;

                    case "vehicles":
                        <a href="@Url.Action("Index", "Vehicles", new { id = item.Id })" target="_blank"><i class="fa fa-search"></i></a>
                        break;
                }
            </td>


        </tr>
    }

</table>